#message {
    display: none;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

#toggle-password {
    float: right;
    margin-top: -25px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

#meter {
    display: none;
}

hr {
    max-height: 10px;
    height: 10px;
    width: 10%;
    display: inline-block;
    margin-right: 5px;
}

#result {
    padding: 13px;
    font-weight: 700;
}
